<!DOCTYPE html>

<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">    
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web&display=swap" rel="stylesheet">
    <title>Item Upload Confirmed Email</title>
     
    <style>
        .message {
        font-family: 'Titillium Web', sans-serif;
    }

        .center {
        margin: 0;
        position: absolute;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        }

        #coupon {
            background-color: rgb(49, 129, 49);
            border: none;
            color: white;
            padding: 14px 28px;
            text-align: center;
            font-size: 14px;
        }

        #couponCode {
            text-align: center;
        }

        #listing {
            background-color: rgb(49, 129, 49);
            border: none;
            color: white;
            padding: 14px 28px;
            text-align: center;
            font-size: 14px;
            margin: 0;
            position: absolute;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }


    
    </style>
    
</head>

<body>
    <img src="https://cdn.shopify.com/s/files/1/0076/0889/3525/files/rerouted-full-RGB-transparent-large.png?v=1614280327" alt='rerouted logo' style='width: 100px; height: auto'>
    <div class="message">
        <p style="font-size: x-large; font-weight:bold;">Your item has been approved!</p>
        <p>Your <%= productName %> is now live on our website and ready to find a new home. You can view your listing below.</p>
        <br><br>
        <a id="listing" href= "<https://rerouted.co/collections/all?sort_by=created-descending>">View your listing!</a>
    </div>

    <script src=""></script>   
</body>