<!DOCTYPE html>

<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">    
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Titillium+Web&display=swap" rel="stylesheet">
    <title>Upload Received Email</title>
     
    <style>
        .message {
        font-family: 'Titillium Web', sans-serif;
    }

        .center {
        margin: 0;
        position: absolute;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        }

        #coupon {
            background-color: rgb(49, 129, 49);
            border: none;
            color: white;
            padding: 14px 28px;
            text-align: center;
            font-size: 14px;
        }

    
    </style>
    
</head>

<body>
    <img src="https://cdn.shopify.com/s/files/1/0076/0889/3525/files/rerouted-full-RGB-transparent-large.png?v=1614280327" alt='rerouted logo' style='width: 100px; height: auto'>
    <div class="message">
        <p>Hey there, thanks for uploading your item on Rerouted! We are processing your item right now and will keep you updated once it's been approved, so in the meantime take this 10% off coupon and shop at Rerouted!</p>
        <br><br><br>
        <div class="center">
                <button id="coupon" onclick=" window.open('http://rerouted.co','_blank')">10% off your next purchase!</button>
        </div>
    </div>

    <script src=""></script>   
</body>



</html>